<h1>Questions#answer</h1>
<p>Find me in app/views/questions/answer.html.erb</p>

<div class="ask-div">
  <p><%= @ask %></p>
  <p>-You</p>
</div>

<div class="answer">
  <p><%= @answer%><p>
  <p>-Your coach</p>
</div>

<p> <%= link_to "Ask a new question", ask_path %> <p>
